<!-- Default Statcounter code for Jcbridgeman.bitbucket.io
https://jcbridgeman.bitbucket.io/ -->
<script type="text/javascript">
    var sc_project=11717036; 
    var sc_invisible=0; 
    var sc_security="78149843"; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="free web stats"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/11717036/0/78149843/0/"
    alt="free web stats"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->